[submodule "api/client"]
	path = api/client
	url = https://github.com/go-pantheon/api-client
[submodule "api/server"]
	path = api/server
	url = https://github.com/go-pantheon/api-server
[submodule "deps/vulcan-util"]
	path = deps/vulcan-util
	url = https://github.com/go-pantheon/vulcan-util
[submodule "deps/vulcan-kit"]
	path = deps/vulcan-kit
	url = https://github.com/go-pantheon/vulcan-kit
